@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Euphoria+Script&family=Source+Sans+Pro&display=swap');
{
	font-family: 'Euphoria Script', cursive;
	font-family: 'Baloo Tamma 2', cursive;
	margin: 0;
	padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');{
	font-family: 'Prompt', sans-serif;
}


body{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f3f8f7;
	font-family: font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: .5px; 
	 word-spacing: 0.2px;
	 background-color: darkred;
}
p{
	font-size: 2.4vmin;
}
main
{
	align-self: center;
	width: 85vw;
	text-align: center;
	background-color: #f3f8f7;
	
}


header{
	position: fixed;
	width: 100%;
	
	margin: 0;
	top: 0;
	background-color: #f3f8f7;
	
	
}

a{
	text-decoration: none;
	color: #e21f2b;

	
}

ul{
	color: #1c1514;
	list-style: none;
	display: flex;
}

ul a{
	font-size: 17px;
	color: #1c1514;
	color: #f3f8f7;
	font-weight: bold;
	padding: 15px;
	
}


#title{
	
	font-family: 'Euphoria Script', cursive;
	color: #c8292e;
	font-size: 5.9vmax;
	margin: 0;

}
#subtitle
{
	font-family: 'Prompt', sans-serif;
	color: #5e5351;
	font-size: 1.5vw;
	margin: 0;
	padding: 3px;
}


.title-container
{
	padding: 2px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
#image{
	width: 100%;
}
.img-div
{
	padding: 7%;
}
#img-caption
{
	padding-top: 5px;
	font-size: 1.9vmin
}
#tribute-info
{
	border-top: 1px solid black;
}
h2{
	font-family: 'Prompt', sans-serif;
	color: #5e5351;
	font-size: 2.2vmax;
	
}

section{
	width: 80%;
	margin: auto;
	left: 50%;
	text-align: justify;
}
h3
{
	font-size: 2.8vmin;
	text-align: center;S
	margin: 1rem;
}
