@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
{
		font-family: 'Quicksand', sans-serif;
}

body{

	display: flex;
	flex-direction: column;
	align-items: center;
	color: #c2bfc1;
	background-color: #0f0f0f;
	font-size: 16.5px;
	font-family: 'Quicksand', sans-serif;
}
#title{
	color: white;
	text-shadow: 0 0 10px #ac0465;
}
#description
{
	margin-right: 3vw;
	margin-left: 3vw;
}
.container
{
	padding: 0.1px 0px 50px 0px;
	border-radius: 20px;
	background-color: #0f0f0f;
	width: 580px;
	box-shadow:  inset 4.5px 3.5px 3px #1f1f1f /*#1f1f1f*/,
          inset  -3.5px -5px 5px #040404;
          font-family: 'Quicksand', sans-serif;
}


form{
	margin: 0px 70px 0px 70px;
	background-color: #0f0f0f;

	
}


.center
{
	text-align: center;
}
.form-group{
	display: flex;
	flex-direction: column;

}

#dropdown:focus
{
	box-shadow:  inset 2px 2px 2px #b06b93  /*#cbced1*/,
          inset  -2px -2px 2px #b06b93;
          color: #a83478;
}
input
{
	font-size: 15px;
}
.form-control
{
	
	padding: 3vh;
	background: none;
	border: none;
	outline:none;
   border-radius: 8px;
  
          box-shadow: inset 6.5px 6.5px 6.5px #060606,
            inset -6.5px -6.5px 6.5px #181818;
         color: #e3d5dd;
         font-family: 'Quicksand', sans-serif;
}
.form-control:focus {
	box-shadow:  inset 2px 2px 2px #b06b93  /*#cbced1*/,
          inset  -2px -2px 2px #b06b93;
          color: #c2bfc1;
          font-size: 15px;
 
}




#dropdown
{
	color:  #e8dfe4;;
	padding: 2.5vh;
	background: none;
	border: none;
	outline:none;
   border-radius: 8px;
    box-shadow: inset 6.5px 6.5px 6.5px #060606,
            inset -6.5px -6.5px 6.5px #181818;
          color: #c2bfc1;
          font-size: 15px;
}
#name-label
{
	padding-bottom: 8px;
	padding-left: 10px;
}
#email-label
{
	padding: 8px 0px 8px 8px;
}
#number-label
{
	padding: 8px 0px 8px 8px;
}

#submit
{
	width: 80%;
	align-self: center;
	margin-top: 25px;
	padding: 2vh;
	background: none;
	border: none;
	outline:none;
   border-radius: 8px;
   box-shadow:  inset 2.4px 2.7px 1px #1f1f1f  /*#cbced1*/,
          inset  -1.5px -1.8px 2px #040404;
          color: #9e7e91;
          font-weight: bold;
          font-size: 16px;
          
}

#comments
{
	max-width: 300px;
	
	min-height: 15vh;
	max-height: 15vh;
}


@media (max-width: 800px) {
  .container {
    max-width: 75vw;
  }
}
@media (max-width: 600px) {

	#comments
	{
	max-width: 250px;
	}

	.container
	{
		font-size: 15px;
	}
  form{
	margin: 0px 30px 0px 30px;
	}
	.form-control{
		padding: 2.5vh;
	}
	input
{
	font-size: 14.5px;
}
}

@media(max-width: 400px)
{
	body{
		position: absolute;
		align-self: flex-start;
		text-align: left;

	}
	.container
	{
		font-size: 13px;
		max-width: 320px;
	}
	input, #dropdown{
		font-size: 13px;
		color: #e3d5dd;
         font-family: 'Quicksand', sans-serif;
	}

	#submit{
		 font-size: 14px;
	}
}
